*{
    margin: 0;
    padding: 0;
}
header{
    background-color: bisque;
    background-image: url("./background\ image2.jpg");
}
body{
    background-color: bisque;
}
h1{
    font-size: 700%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(51, 5, 5);
    text-align: center;
}
h2{
    font-size: 500%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 42, 42);
    text-align: center;
}
h3{
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(46, 30, 30);
    text-align: center;
    text-decoration-line: underline;
}
.rojo{
    color: red;
    background-color: antiquewhite;
}